<h1> Recipe List </h1>

<h2>Cool Recipes. </h2>

<ul>
    {% for foo in data %}
    <li> <b>Recipe Title: </b> {{ foo.title }} , <b> Master Creation By: </b> {{ foo.author }} </li>
    <ul>
        <li> <b>Description:</b> {{ foo.description }} </li>
        <li> <b>What to do:</b> {{ foo.instructions }} </li>
        {% comment %} <li> {{ foo.post_date }} </li> {% endcomment %}
     {% comment %} <a href='/author/{{ foo.id }}/'> {{ foo.author }} </a>  {% endcomment %}
    </ul>
    {% endfor %}
<ul/>